.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#weatherButton {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 1%;
  outline: 1%;
}

#temperature {
  font-size: 32px;
  position: absolute;
  margin-top: -55%;
  margin-left: 40%;
  align-self: flex-start;
}

#div-container {
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  top: 15%;
  position: relative;
  max-width: 160vw;
  padding: 0;
  margin: 0;
  gap: 49px;
  left: 5%;
}

.flex-item {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex: 2 2 2;
}

p, h1 {
  font-family: 'Courier New', Courier, monospace;
}

#attributes {
  margin-top: 24%;
  font-size: 13px;
}