#attributes {
    margin-top: 30%;
    font-size: 11.6px;
}

#border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 195px;
    margin-left: -10%;
    margin-top: -1%;
}

#temperature {
    font-size: 24px;
    position: relative;
    margin-top: -28%;
    top: -34%;
    left: 3%;
    text-align: left;
}

#temp-label {
    font-size: 13px;
    margin-top: -15%;
    margin-left: 28%;
    font-weight: bold;
}

#date {
    margin-top: -4%;
    position: relative;
    left: 4%;
}

#icon {
    margin-left: -38%;
    position: relative;
    top: 14%;
    left: -11%;
}